
Debug/vc142.pdb
Debug/vc142.idb
Debug/Neuron.obj
Debug/MLP.vcxproj.FileListAbsolute.txt
Debug/MLP.tlog/MLP.lastbuildstate
Debug/MLP.tlog/link.write.1.tlog
Debug/MLP.tlog/link.read.1.tlog
Debug/MLP.tlog/link.command.1.tlog
Debug/MLP.tlog/CL.write.1.tlog
Debug/MLP.tlog/CL.read.1.tlog
Debug/MLP.tlog/CL.command.1.tlog
Debug/MLP.pdb
Debug/MLP.obj
Debug/MLP.log
Debug/MLP.ilk
Debug/MLP.exe.recipe
Debug/MLP.exe
Debug/main.obj
Debug/Connection.obj
Debug/ActivationFunc.obj
Debug/vc142.pdb
Debug/vc142.idb
Debug/Neuron.obj
Debug/MLP.tlog/MLP.lastbuildstate
Debug/MLP.tlog/link.write.1.tlog
Debug/MLP.tlog/link.read.1.tlog
Debug/MLP.tlog/link.command.1.tlog
Debug/MLP.tlog/CL.write.1.tlog
Debug/MLP.tlog/CL.read.1.tlog
Debug/MLP.tlog/CL.command.1.tlog
Debug/MLP.obj
Debug/MLP.log
Debug/MLP.exe.recipe
Debug/main.obj
Debug/Connection.obj
Debug/ActivationFunc.obj
