
Debug/vc142.pdb
Debug/vc142.idb
Debug/Neuron.obj
Debug/MLP.vcxproj.FileListAbsolute.txt
Debug/MLP.tlog/MLP.lastbuildstate
Debug/MLP.tlog/link.write.1.tlog
Debug/MLP.tlog/link.read.1.tlog
Debug/MLP.tlog/link.command.1.tlog
Debug/MLP.tlog/CL.write.1.tlog
Debug/MLP.tlog/CL.read.1.tlog
Debug/MLP.tlog/CL.command.1.tlog
Debug/MLP.pdb
Debug/MLP.obj
Debug/MLP.log
Debug/MLP.ilk
Debug/MLP.exe.recipe
Debug/MLP.exe
Debug/main.obj
Debug/Connection.obj
Debug/ActivationFunc.obj
Debug/vc142.pdb
Debug/vc142.idb
Debug/Neuron.obj
Debug/MLP.tlog/MLP.lastbuildstate
Debug/MLP.tlog/link.write.1.tlog
Debug/MLP.tlog/link.read.1.tlog
Debug/MLP.tlog/link.command.1.tlog
Debug/MLP.tlog/CL.write.1.tlog
Debug/MLP.tlog/CL.read.1.tlog
Debug/MLP.tlog/CL.command.1.tlog
Debug/MLP.obj
Debug/MLP.log
Debug/MLP.exe.recipe
Debug/main.obj
Debug/Connection.obj
Debug/ActivationFunc.obj
Debug/vc142.pdb
Debug/vc142.idb
Debug/Neuron.obj
Debug/MLP.tlog/MLP.lastbuildstate
Debug/MLP.tlog/link.write.1.tlog
Debug/MLP.tlog/link.read.1.tlog
Debug/MLP.tlog/link.command.1.tlog
Debug/MLP.tlog/CL.write.1.tlog
Debug/MLP.tlog/CL.read.1.tlog
Debug/MLP.tlog/CL.command.1.tlog
Debug/MLP.obj
Debug/MLP.log
Debug/MLP.exe.recipe
Debug/main.obj
Debug/Connection.obj
Debug/ActivationFunc.obj
.vs/MLP/v16/.suo
.vs/MLP/v16/Browse.VC.db
.vs/MLP/v16/Browse.VC.db-shm
.vs/MLP/v16/Browse.VC.db-wal
.vs/MLP/v16/Browse.VC.opendb
.vs/MLP/v16/ipch/AutoPCH/5458719a604341f7/CONNECTION.ipch
.vs/MLP/v16/ipch/AutoPCH/60cc9c6485a86e74/NEURON.ipch
.vs/MLP/v16/ipch/AutoPCH/99063998b60ec988/MLP.ipch
.vs/MLP/v16/ipch/AutoPCH/b572aca9f0d83742/MAIN.ipch
.vs/MLP/v16/ipch/AutoPCH/d0b55b2b2205f3bd/ACTIVATIONFUNC.ipch
data/dataEdit.py
data/output.txt
Debug/ActivationFunc.obj
Debug/Connection.obj
Debug/main.obj
Debug/MLP.exe.recipe
Debug/MLP.log
Debug/MLP.obj
Debug/MLP.tlog/CL.command.1.tlog
Debug/MLP.tlog/CL.read.1.tlog
Debug/MLP.tlog/CL.write.1.tlog
Debug/MLP.tlog/link.command.1.tlog
Debug/MLP.tlog/link.read.1.tlog
Debug/MLP.tlog/link.write.1.tlog
Debug/MLP.tlog/MLP.lastbuildstate
Debug/Neuron.obj
Debug/vc142.idb
Debug/vc142.pdb
